.header {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #d5e5f1;
}

@media screen and (min-width:320px) and (max-width:798px) {
    .header {
        align-items: center;
        text-decoration: none;
        color: #d5e5f1;
        display: block;
    }
}